/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --bg-color: #000028; /* цвет фона */
  --accent-color: #ff0070; /* акцентный цвет, например, для фона текста*/
  --accent-main-title-color: #db00ff; /*цвет для главных подзаголовков, <h1> */
  --accent-section-header-color: #ff0070; /* цвет для подзаголовков секций сайта, <h2>*/
  --accent-title-color: #000028; /* цвет для подзаголовков у идей (айтемов) внутри секций, <h3>*/
  --text-color: #f1b2ce; /* цвет основного текста, <p> */
  --text-shadow-color: #ff0070; /* цвет для тени текста и ссылок*/
  --button-color: #ff0070; /* цвет элементов кнопки */
  --button-border-hover-state-color: rgb(
    255 0 122 / 0.4
  ); /* цвет границы кнопки при наведении */
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}
