/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --bg-color: #ffc2e6; /* цвет фона */
  --accent-color: #ff8dcb; /* акцентный цвет, например, для фона текста*/
  --accent-main-title-color: #ffc2e6; /*цвет для главных подзаголовков, <h1> */
  --accent-section-header-color: #353430; /* цвет для подзаголовков секций сайта, <h2>*/
  --accent-title-color: #353430; /* цвет для подзаголовков у идей (айтемов) внутри секций, <h3>*/
  --text-color: #353430; /* цвет основного текста, <p> */
  --text-shadow-color: #ff8dcb; /* цвет для тени текста и ссылок*/
  --button-color: #353430; /* цвет элементов кнопки */
  --button-border-hover-state-color: rgb(
    50 49 45 / 0.4
  ); /* цвет границы кнопки при наведении */
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.decoration-item {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffc2e6; /* цвет фона */
    --accent-color: #ff8dcb; /* акцентный цвет, например, для фона текста*/
    --accent-main-title-color: #ffc2e6; /*цвет для главных подзаголовков, <h1> */
    --accent-section-header-color: #353430; /* цвет для подзаголовков секций сайта, <h2>*/
    --accent-title-color: #353430; /* цвет для подзаголовков у идей (айтемов) внутри секций, <h3>*/
    --text-color: #353430; /* цвет основного текста, <p> */
    --text-shadow-color: #ff8dcb; /* цвет для тени текста и ссылок*/
    --button-color: #353430; /* цвет элементов кнопки */
    --button-border-hover-state-color: rgb(
      50 49 45 / 0.4
    ); /* цвет границы кнопки при наведении */
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .decoration-item {
    display: none;
  }
}
