/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028; /* цвет фона */
  --accent-color: #ff0070; /* акцентный цвет, например, для фона текста*/
  --accent-main-title-color: #db00ff; /*цвет для главных подзаголовков */
  --accent-main-title-shadow-color-spec: #ff0070; /* особый цвет тени для главных подзаголовков */
  --accent-section-header-color: #ff0070; /* цвет для подзаголовков секций сайта, <h2>*/
  --accent-title-color: #000028; /* цвет для подзаголовков у идей (айтемов) внутри секций, <h3>*/
  --text-color: #f1b2ce; /* цвет основного текста, <p> */
  --text-shadow-color: #ff0070; /* цвет для тени текста и ссылок*/
  --button-color: #ff0070; /* цвет элементов кнопки */
  --button-border-hover-state-color: rgb(
    255 0 122 / 0.4
  ); /* цвет границы кнопки при наведении */
  --decoration-color: #ff0070; /* цвет угловых элементов в хедере и футере */
}
